  <%= render 'layouts/carousel'  %>
  <%= javascript_include_tag "owlCarousel" %>


  <section class="welcome padding-top-150 padding-bottom-150">
    <div class="container">
      <div class="heading text-center">
        <h3> 
          Welcome to
          <br>
          <span>Chicago Closet and Garage</span> 
        </h3>
        <hr>
        <p>The Love Boat soon will be making another run the Love Boat promises something for everyone
          Today still wanted by the government they survive as soldiers of fortune.
        </p>
      </div>
    </div>
  </section>

    <!-- LATEST WORK -->
    <section class="latest-work  padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Work -->
        <div class="heading white text-left">
          <h3> Featured <span>work </span></h3>
          <hr>
        </div>
        <div class="portfolio-wrapper">
          <div class="filter">
            <div class="text-right">
            </div>
          </div>
          <!-- ITEMS -->
          <ul class="items col-4 row">
            <!-- ITEM -->
            <li class="item col-md-4 building construction renovate">
              <div class="gal-item"> 
                <!-- GALLERY IMAGE --> 
                <%=image_tag('logo.png')%>
                <!-- Hover Info -->
                <div class="hover-info">
                  <h6>Construction</h6>
                  <p> Maxius Ligula Semper</p>
                  <a href="#."><i class="ion-android-arrow-forward"></i></a> </div>
              </div>
            </li>
            <!-- ITEM -->
            <li class="item col-md-4  construction">
              <div class="gal-item"> 
                <!-- GALLERY IMAGE --> 
                <%=image_tag('logo.png')%>
                <!-- Hover Info -->
                <div class="hover-info">
                  <h6>Construction</h6>
                  <p> Maxius Ligula Semper</p>
                  <a href="#."><i class="ion-android-arrow-forward"></i></a> </div>
              </div>
            </li>
            <!-- ITEM -->
            <li class="item col-md-4 interio renovate" >
              <div class="gal-item"> 
                <!-- GALLERY IMAGE --> 
                <%=image_tag('logo.png')%>
                <!-- Hover Info -->
                <div class="hover-info">
                  <h6>Construction</h6>
                  <p> Maxius Ligula Semper</p>
                  <a href="#."><i class="ion-android-arrow-forward"></i></a> </div>
              </div>
            </li>
            <!-- ITEM -->
            <li class="item col-md-4 interior building construction">
              <div class="gal-item"> 
                <!-- GALLERY IMAGE --> 
                <%=image_tag('logo.png')%>
                <!-- Hover Info -->
                <div class="hover-info">
                  <h6>Construction</h6>
                  <p> Maxius Ligula Semper</p>
                  <a href="#."><i class="ion-android-arrow-forward"></i></a> </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>


     <!-- Testimonial -->
    <section class=" light-gray-bg padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading text-center margin-bottom-60">
          <h3>Words from <span>our Team</span></h3>
          <hr>
          <p>The Love Boat soon will be making another run the Love Boat promises something for everyone</p>
        </div>
        
        <!-- Test Slider -->
        <div class="testi">
          <div class="testi-two"> 
            
            <!-- Slider 1 -->
            <div class="media">
              <div class="in-testi">
                <p>Just two good ol' boys Never meanin' no harm. Beats all you've ever saw been in trouble with the law since the day they was born. The Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch.</p>
                <div class="stars"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> </div>
              </div>
              
              <!-- Avatar -->
              <div class="testi-name">
                <div class="media-left"> <a class="avatar" href="#."> <img class="media-object" src="images/avatar-testi.jpg" alt=""> </a> </div>
                <!-- Content -->
                <div class="media-body relative padding-left-10"> <i class="fa fa-quote-left quote"></i>
                  <h5>Steven Smith</h5>
                  <span>ceo & founder</span> </div>
              </div>
            </div>
            
            <!-- Slider 2 -->
            <div class="media">
              <div class="in-testi">
                <p>Just two good ol' boys Never meanin' no harm. Beats all you've ever saw been in trouble with the law since the day they was born. The Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch.</p>
                <div class="stars"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> </div>
              </div>
              
              <!-- Avatar -->
              <div class="testi-name">
                <div class="media-left"> <a class="avatar" href="#."> <img class="media-object" src="images/avatar-testi-1.jpg" alt=""> </a> </div>
                <!-- Content -->
                <div class="media-body relative padding-left-10"> <i class="fa fa-quote-left quote"></i>
                  <h5>Steven Smith</h5>
                  <span>ceo & founder</span> </div>
              </div>
            </div>
            
            <!-- Slider 3 -->
            <div class="media">
              <div class="in-testi">
                <p>Just two good ol' boys Never meanin' no harm. Beats all you've ever saw been in trouble with the law since the day they was born. The Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch.</p>
                <div class="stars"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> </div>
              </div>
              
              <!-- Avatar -->
              <div class="testi-name">
                <div class="media-left"> <a class="avatar" href="#."> <img class="media-object" src="images/avatar-testi.jpg" alt=""> </a> </div>
                <!-- Content -->
                <div class="media-body relative padding-left-10"> <i class="fa fa-quote-left quote"></i>
                  <h5>Steven Smith</h5>
                  <span>ceo & founder</span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



<%= javascript_include_tag "testimonyCarousel" %>
