<%= stylesheet_link_tag "simple-sidebar" %>

<div id="page-wrapper">
 <!-- Page Content -->
 <div id="page-content-ajax">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-12 row-no-padding">
       <!-- Ajax will load here-->    
     </div>
   </div>
 </div>
</div>
</div>


<div id="btn">
    <div id='top'></div>
    <div id='middle'></div>
    <div id='bottom'></div>
</div>



<div id="box">
  <div id="items">

    <div class="item"><%=link_to "Home", "/home", remote:true,  id:"link"%></div>
    <br>
    <div class="item"><%=link_to "About Us", "/about", remote:true,  id:"link"%></div>
    <div class="item"><%=link_to "Contact Us", "/contact_page", remote:true,  id:"contact_link"%></div>
    <div class="item"><%=link_to "Services", "/services", remote:true,  id:"link"%></div>
    <div class="item"> <%=link_to "Photo Gallery", "/gallery", remote:true,  id:"link"%></div>

    <div class="item"><%=link_to "Investment Opportunities", "/invest", remote:true,  id:"link"%></div>
  </div>
</div>

<%= javascript_include_tag "sidebar" %>

